<div class="container">
  <div class="row">
    <div class="jumbotron col-12 text-center">
      <h1 class="display-5">Bienvenido a la tienda virtual de John David</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-search (datos)="getArticules($event)"></app-search>
    </div>
  </div>
  <div class="row" *ngIf="articles">
    <div class="col-6" *ngFor="let article of articles">
      <app-product-card [article]="article"></app-product-card>
    </div>
  </div>
</div>
